@font-face {
    font-family: "CustomStardew" ;
    src: url(Font/StardewValley.otf);
    src: url(Font/StardewValley.ttf);
}

@font-face {
    font-family: "CustomStardewTitle" ;
    src: url(Font/Stardew\ Valley\ ALL\ CAPS.ttf);
    src: url(Font/Stardew\ Valley\ Regular.ttf);
}

html {
    box-sizing: border-box;
    font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
  }

  *, *:before, *:after {
    box-sizing: inherit;
  }

  body {
    margin: 0;
    min-height: 100vh;
    background-image: url("Picture/stardewbg.jpg");
    background-size: cover;
  }

  h1{
    font-family: "CustomStardewTitle";
    color: brown;
    text-align: center;
  }

  h2 {
    margin-top: 0;
    padding-top: .8em;
  }

  nav {
    position: relative;
    perspective: 600px;
  }

  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
  }

  .cool > a {
    position: relative;
    display: flex;
    justify-content: center;
    
    background-image: url(Picture/Stardew\ Inventory\ \(1\).png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }

  .dropdown {
    opacity: 0;
    position: absolute;
    overflow: hidden;
    padding: 10px;
    top: -20px;
    border-radius: 2px;
    transition: all 0.5s;
    transform: translateY(100px);
    will-change: opacity;
    display: none;
    z-index: +1;
  }

  .trigger-enter .dropdown {
    display: block;
  }

  .trigger-enter-active .dropdown {
    opacity: 1;
  }

  .dropdownBackground {
    width: 100px;
    height: 100px;
    position: absolute;
    background: #ffc600;
    border-radius: 4px;
    box-shadow: 0 50px 100px rgba(50,50,93,.1), 0 15px 35px rgba(50,50,93,.15), 0 5px 15px rgba(0,0,0,.1);
    transition: all 0.3s, opacity 0.1s, transform 0.2s;
    transform-origin: 50% 0;
    display: flex;
    justify-content: center;
    opacity:0;
    z-index: +1;
  }

  .dropdownBackground.open {
    opacity: 1;
  }

  .arrow {
    position: absolute;
    width: 20px;
    height: 20px;
    display: block;
    background: #ffc600;
    transform: translateY(-50%) rotate(45deg);
  }

  .dropdown a {
    text-decoration: none;
    color: #ffc600;

  }

  a.button {
    background: black;
    display: block;
    padding: 10px;
    color: white;
    margin-bottom: 10px;
  }

  .recipes-bg{
    display: block;
    background-color: white;
    margin: auto;
    padding: 30px 64px 64px 64px;

    
    background-image: url("Picture/recipebgcut.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 800px;
    height: 450px;
    
  }

  .recipes-flex{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
    margin-bottom: 18px;
  }

  .recipe{
    padding: 18px 18px 18px 18px;

    background-image: url(Picture/Stardew\ Inventory\ \(1\).png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    text-align: center;
  }

  .ingredients{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 10px;
  }

  .stats{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }

  .money{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }

  .footer{
    
    text-align: center;
    color: white;
    padding: 16px;
    margin: 48px;
  }